.attractions {
  background-color: $light-gray;
  padding: 2rem 0;
}
.attractions-row {
  display: flex;
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row;
  }
}
.attractions-row img {
  width: 100%;
  max-width: none;
  @include breakpoint(medium) {
    max-width: 100%;
    width: inherit;
  }
}
.attractions-row:not(:last-child) {
  margin-bottom: 1rem;
}
.attractions-row .attraction-wrapper {
  position: relative;
  flex: 1;
  @include breakpoint(medium) {
    flex: inherit;
  }
  &::after {
    position: relative;
    @include faded_grad_black( 70px );
  }
}
.attractions-row a:not(:last-child){
  margin-bottom: 1rem;
  margin-right: 0;
  @include breakpoint(medium) {
    margin-right: 1rem;
    margin-bottom: 0;
  }

}
.attractions .title {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  color: $white;
  padding: 0 0 1rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%
}
.attractions .arrow-button {
  border: solid 2px $white;
  right: 1rem;
  bottom: 1rem;
}
.attractions .arrow-button::before {
  border-right: 2px solid $white;
  border-top: 2px solid $white;
}