// ---------------------------------------
//  Lazyloading
// ---------------------------------------
// Styles to blur low quality image and fade in the High Quality over it.
.lazyload.blur-up,
.lazyloading.blur-up {
  filter: blur(10px);
  transition: filter 1s;
}

.lazyloaded.blur-up {
  filter: blur(0);
}


// ---------------------------------------
//  Intrinsic Sizes
// ---------------------------------------
.intrinsic {
  position: relative;
  height: 0;

  &.hero {
    @include intrinsic-ratio(1600, 550);
  }

  img,
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    overflow: hidden;
  }
}

// ---------------------------------------
//  General SVG Icon Styles
// ---------------------------------------
svg.icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  fill: $white; // Applies current font color to fill.
}

// ---------------------------------------
//  General
// ---------------------------------------
section {
  background-color: $white;
}
.content-wrapper {
  padding-top: 2rem;
}
.menu-icon {
  position: relative;
  z-index: 99;
}
// ---------------------------------------
//  Mobile Title Bar
// ---------------------------------------
.title-bar {
  position: fixed;
  display:flex;
  z-index: 99;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.title-bar > * {
  flex: 1;
}
.title-bar > *:last-child {
  text-align: right;
}

/**
ARROW BUTTONS
 */
.arrow-button {
  width: 27px;
  height: 27px;
  border: 2px solid $black;
  border-radius: 2px;
  color: $black;
  position:absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s, border 0.3s;
}
.arrow-button::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid $black;
  border-top: 2px solid $black;
  transform: rotate(45deg);
  margin-right: 4px;
  transition: border 0.3s;
}

// ---------------------------------------
//  Quick Links
// ---------------------------------------

.quick-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
  @include breakpoint(large) {
    flex-direction: row;
  }
}
.quick-links .arrow-button {
  opacity: 0;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}
.quick-links svg.icon {
  width: 1.5em;
  height: 1.5em;
}
.quick-links a {
  color: $white;
  display: block;
}
.quick-links > * {
  flex: 1;
  background-color: $medium-gray;
  padding: 1rem;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 1rem;
  position: relative;
  & .icon {
    transition: fill 0.3s;
  }
  &:hover {
    background-color: $secondary-color;
    color: $black;
    & a {
      color: $black;
    }
    & .icon {
      fill: $black;
    }
    & .arrow-button {
      opacity: 1;
    }
  }
  @include breakpoint(large) {
    margin-bottom: 0;
  }
}
.quick-links .quick-links-text {
  margin-left: 0.5rem;
}
.quick-links > *:not(:last-child) {
  @include breakpoint(large) {
    margin-right: 0.3rem;
  }
}

// ---------------------------------------
//  Specials
// ---------------------------------------

.specials-section {
  text-align: center;
  padding: 1rem 0;
  @include breakpoint(medium) {
    padding: 2rem 0;
    background-color: $light-gray;
  }
}
.specials-section a:hover {
  color: $white;
}
.specials-header {
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.specials img {
  width: 100%;
}
.specials .image {
  @include intrinsic-ratio(4,3);
}
.specials .card {
  border: solid 1px $black;
  @include breakpoint(medium) {
    margin: 0.5rem 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: none;
  }

}
.specials .arrow-button {
  border: 2px solid $light-gray;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}
.specials .title {
  background-color: $white;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  &:hover {
    background-color: $primary-color;
    & a {
      color: $white;
    }
    & .arrow-button {
      border: 2px solid $white;
    }
    & .arrow-button::before {
      border-right: 2px solid $white;
      border-top: 2px solid $white;
    }
  }
}
// ---------------------------------------
//  Specials - Slick Slider Tweaks
// ---------------------------------------

//// HIDE FOUC ////

.specials {
  display: none;
}
.slick-initialized {
  display: block;
}

//////////////////

.slick-prev, .slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: $light-gray;
  &:focus {
    background-color: $light-gray;
  }
  &:hover {
    background-color: $white;
  }
  top: -0.625rem;;
  transform: translate(0,-100%);
  @include breakpoint(medium) {
    height: 40px;
    width: 30px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.slick-prev {
  z-index: 1;
  left: 0.625rem;
  @include breakpoint(medium) {
    left: 30px;
  }

}
.slick-next {
  z-index: 1;
  right: 0.625rem;
  @include breakpoint(medium) {
    right: 30px;
  }
}

.slick-prev:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 3px solid $primary-color;
  border-left: 3px solid $primary-color;
  transform: translate(50%, 0) rotate(45deg);
  margin-right: 4px;
  transition: border 0.3s;

}
.slick-next:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-right: 3px solid $primary-color;
  border-top: 3px solid $primary-color;
  transform: rotate(45deg);
  margin-right: 4px;
  transition: border 0.3s;
}

// ---------------------------------------
//  Contact Us
// ---------------------------------------
.contact-us-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  @include breakpoint(large) {
    height: auto;
  }
}
.contact-us .form {
  padding: 2rem 2rem 1rem 2rem;
  background-color: $primary-color;
}
.contact-us li {
  list-style: none;
}
.contact-us ul {
  margin: 0;
}
.contact-us .form-header {
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 0.5rem;
}
.contact-us input, .contact-us textarea {
  border-radius: 4px;
  margin-bottom: 0.6rem;

}
.contact-us label.gfield_label {
  display: none;
}
.contact-us input[type="submit"] {
  color: $white;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: $medium-gray;
  width: 100%;
  @include breakpoint(large) {
    width: inherit;
  }
}

// ---------------------------------------
//  Mailing List
// ---------------------------------------
.join {
  background-color: $white;
  text-align: center;
  padding: 2rem 0 ;
}
.join .join-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 0.5rem;
  color: $primary-color;
}
.join-form {
  text-align: center;
}
.join-form form {
  display: flex;
  justify-content: center;
  flex-direction:row;
  margin: 0 2rem;
}
.join-form .gform_body {
  width: 500px;
}
.join-form li {
  list-style: none;

}
.join-form ul {
  margin: 0;

}
.join-form label.gfield_label {
  display: none;
}
.join input {
  border: none;
  background: $light-gray;
  box-shadow: none;
}
.join input:focus {
  border: none;
  background: $light-gray;
}
.join input[type="submit"] {
  border: none;
  text-transform: uppercase;
  background-color: $primary-color;
}
// ---------------------------------------
//  Post Edit Links
// ---------------------------------------
.edit-post .icon {
  fill: $primary-color;
}
// ---------------------------------------
//  404
// ---------------------------------------
.section-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}