.job-openings {
  background-color: $light-gray;
  padding: 2rem 0 2rem 0;
}
.job-opening {
  padding-bottom: 1rem;
  margin: 1rem 0 0 0;
  border-bottom: 1px $medium-gray solid;
}
.opening-title {
  font-weight: 700;
  color: $medium-gray;
  font-size: 1.2em;
  text-transform: uppercase;
}
.apply-link {
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: 700;
}