.event-categories > a {
  background-color: $medium-gray;
  color: $white;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  span {
    margin-left: 0.5rem;
  }
  & .icon {
    width: 1.5em;
    height: 1.5em;
    transition: fill 0.3s;
  }
  &:hover {
    background-color: $secondary-color;
    color: $black;
    & .check-box {
      outline-color: $black;
    }
    & .icon {
      fill: $black;
    }

  }
}
.check-box {
  width: 20px;
  height: 20px;
  outline: solid 1px $white;
  margin-left: auto;
  font-size: 1.8em;
  line-height: 0.6em;
  @include opensans;
  padding: 0 0 0 2px;
  transition: outline-color 0.3s;

}
.events-list {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: $light-gray;
}
.events-list .grid-container {
  background-color: transparent;
}
.events-list .event-item {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row;
  }
}
.events-list .event-item > div:first-child {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: none;
  width: auto;
  margin-right: 0;
  margin-bottom: 0.2rem;
  @include breakpoint(medium) {
    width: 150px;
    margin-bottom: 0;
    margin-right: 0.2rem;
  }
}
.events-list .event-item > div:first-child div:first-child {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 700;
}
.events-list .event-item > div:first-child div:last-child {
  font-size: 4em;
  line-height: 60px;
  font-weight: 700;
}
.events-list .event-item > div:last-child {
  width: 100%;
  background-color: $white;
  padding: 1rem;
}
.event-title {
  font-size: 1.5em;
  font-weight: 700;
}
.icon.clock {
  margin-right: 0.5rem;
  fill: $medium-gray;
}
.times {
  display: flex;
  align-items: center;
  font-style: italic;
}
.pagination {
  display: flex;
  justify-content:center;
}
.pagination li {
  padding: 1rem;
  list-style-type: none;
  text-transform: uppercase;
}

//////////////////////////////////////
////////// SINGLE EVENT
//////////////////////////////////////
.special-single .arrow-button-title.event {
  background-color: $medium-gray;
  color: $white;
}
.repeating-events {
  text-align: center;
  columns: 2;
  margin-left: 0;
  @include breakpoint(medium) {
    columns: 4;
  }
  @include breakpoint(large) {
    columns: 6;
  }
}
.repeating-events li {
  list-style: none;
}
.upcoming-events-section {
  background-color: $light-gray;
  padding-top: 1rem;
}
.upcoming-events-section .events-list {
  margin-top: 0;
  padding-top: 0;
}