#footer {
  background-color: $dark-gray;
  color: $white;
  text-align: center;
  @include breakpoint(large) {
    text-align: inherit;
  }
}
.footer-content {
  padding: 2rem 0;

}

.footer-content > *:not(:first-child) {
  font-size: 0.9em;
  margin-top: 1rem;
  @include breakpoint(large) {
    margin-top: inherit;
  }
}
#footer .logo-social {
  text-align: center;
}
#footer .logo-social a {
  font-size: 0.9em;
  padding: 1rem 0.2rem 0 0.2rem ;
}
.lower-footer {
  border-top: 1px solid $medium-gray;
  padding: 0.5rem 0;
  margin: 0;
}
.footer-content .email a {
  display: inline;
  color: $white;
  padding: 0;
}