header {
  background-color: $black;
  @include breakpoint(large) {
    width: 235px;
  }
}
.header-content {
  position: fixed;
  width: 235px;
}
.connect {
  color: white;
  background-color: $primary-color;
  padding-top: 0.5rem;
}
.connect > div {
  margin: 1rem 1rem 0 1rem;
  padding: 0.5rem 0;
}
.connect .phone {
  border-bottom: solid $white 2px;
}
.connect .phone span {
  padding-left: .5rem;
}
.connect .phone a {
  color: $white;
}
.connect .search {
  border-bottom: solid $white 2px;
}
.connect .social {
  padding-bottom: 1rem;
}
.connect .social {
  display: flex;
  justify-content: space-between;
}
.connect .social > * {
  float: left;
}