.testimonials {
  background-color: $light-gray;
  padding: 2rem 0 2rem 0;
  font-style: italic;
}
.testimonials .quote-text {
  padding: 0 5rem;
}
.testimonials .slick-next,
.testimonials .slick-prev {
  top: 50%;
  transform: translate(0, -50%);
}
.testimonials .slick-next:before,
.testimonials .slick-prev:before {
  width: 22px;
  height: 22px;

}
.testimonials .slick-next:before {
  border-right: 4px solid $black;
  border-top: 4px solid $black;
}
.testimonials .slick-prev:before {
  border-left: 4px solid $black;
  border-bottom: 4px solid $black;
}