/*
 * Menu Page
 */
.menu-container {
  background-color: $light-gray;
  padding: 0 0 2rem 0;
}
.menu-group {
  @include breakpoint(medium) {
    padding: 2rem 0;
  }
}

.menu-group-heading {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  position: relative;
  background-color: transparent;
  text-align: center;
  color: $primary-color;
  padding-top: 1rem;
  @include breakpoint(medium) {
    font-size: 1.75rem;
    text-align: left;
    padding-top: 0;
  }
}

.menu-group-content {
  font-style: italic;
  text-align: center;
}

.menu-group .menu-item {
  margin-bottom: 1.5rem;
}

.menu-item.featured {
  padding: 1rem 0 1rem 1rem;
  outline: dotted $primary-color 2px;
  margin-right: 2rem;
}
.menu-item.featured .menu-item-price {
  font-size: 1.2em;
}
.menu-item-name {
  margin: 0;
  font-weight: bold;
  font-size: 1rem;

  @include breakpoint(medium) {
    font-size: 1.25rem;
  }
}

.menu-item-description {
  font-style: italic;
  padding-right: 1rem;
}

.menu-item-description b {
  padding: 0 .5rem;
}


.menu-item-price {
  font-weight: 700;
}


.dining-menu .left-header-button {
  @include breakpoint(medium) {
    padding-right: 1rem;
  }
}
.dining-menu .right-header.button {
  @include breakpoint(medium) {
    padding-left: 1rem;
  }
}

.dining-menu .icon {
  width: 2em;
  height: 2em;
}
.dining-menu .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


// Variation for menu page
.dining-menu .nav-card {
  margin: 0 0 1rem 0;
  padding: .5rem;
  border: 4px solid lighten($medium-gray, 10%);
  background-color: lighten($medium-gray, 10%);
  background-clip: content-box;
  text-transform: uppercase;
  color: $white;
  transition: all ease .2s;
  text-align: left;
}

.dining-menu .nav-card:hover {
  background-color: $medium-gray;
}
.dining-menu .nav-card.current {
  background-color: $medium-gray;
  border-color: $medium-gray;
}
.dining-menu .nav-card-inner {
  padding: 1rem;
}

.dining-menu .nav-card-head {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1;
}

.dining-menu .callouts {
  text-align: center;
}
.dining-menu .callouts h3 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.dining-menu .callouts h3:first-child {
  margin-top: 1rem;
}
.dining-menu .callouts span {
  display: inline-block;
  margin-bottom: 1rem;
  font-style: italic;
  text-transform: capitalize;
}

.dining-menu .callouts:hover {
  background-color: lighten($medium-gray, 10%);
}

.triple-circle-images {
  display: flex;
  justify-content: center;
}

.triple-circle-images img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  @include breakpoint(large) {
    width: 200px;
    height: 200px;
  }
}

.triple-circle-images .image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  @include breakpoint(large) {
    width: 200px;
    height: 200px;
  }
}
.triple-circle-images .container1 {
  margin-right: -1rem;
  position: relative;
  z-index: 2;
}
.triple-circle-images .container2 {
  margin-right: -1rem;
}
.triple-circle-images .container3 {
  position: relative;
  z-index: 2;
}