/**
 * Off canvas nav
 */
// Make off canvas nav the full height
.off-canvas {
  height: 100%;
}

/**
Main Nav
 */

.nav-main {
  padding-top: 1rem;
  padding-left: 2rem;
  text-transform: uppercase;
}
.nav-main li {
  margin: 1rem 0;
}
.nav-main a {
  color: $white;
}
.nav-main a:hover {
  color: $secondary-color;
}