//.search-bar {
//  position: absolute;
//  right: 0;
//  top: 2rem;
//  z-index: 1;
//}
.search-form {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.search-form label {
  display:none;
}
.search-form input {
  background: transparent;
  border: none;
  padding: 0 0 0 0.7rem;
  margin: 0;
  color: $white;
  box-shadow: none;
  &:focus {
    background: transparent;
    box-shadow: none;
    border:none;
  }
}
.search-form input::placeholder {
  color: $white;
  font-style: italic;
  font-size: .8em;
}
.search-submit {
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}
//.search-submit .icon {
//  fill: $white;
//}