// ---------------------------------------
//  Hero Orbit Slider
// ---------------------------------------
.hero {
  background-color: $light-gray;
  position: relative;
}

//.orbit-next,
//.orbit-previous {
//  width: 75px;
//  transition: background-color .3s;
//
//  .icon {
//    width: 50px;
//    height: 50px;
//    fill: $white;
//    opacity: .45;
//    transition: opacity .3s;
//  }
//}
//
//.orbit:hover {
//  .icon {
//    opacity: .85;
//  }
//}

// ---------------------------------------
//  Hero Overlay Content
// ---------------------------------------
.hero img {
  object-fit: cover;
  height: 100%;
}
.hero-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.hero-content-wrapper > * {
  color: $white;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  @include raleway();
}

.hero-content-wrapper span {
  color: $primary-color;
}

.hero-content-wrapper div:nth-child(1),
.hero-content-wrapper div:nth-child(3) {
  font-size: 1.5em;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-content-wrapper div:nth-child(2) {
  font-size: 1.5em;
  @include breakpoint(medium) {
    font-size: 2.5em;
  }
}
.hero-content-wrapper div:nth-child(3)::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right:40px solid $secondary-color;

}
.hero-content-wrapper div:nth-child(3)::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left:40px solid $secondary-color;
}