///////////////////////////////////////
///// SPECIALS ARCHIVE
///////////////////////////////////////

.specials-archive {
  background-color: $light-gray;
  padding: 2rem 0 2rem 0;
}
.specials-archive img {
  width: 100%;
}
.specials-archive .image {
  @include intrinsic-ratio(4,3);
}
.specials-archive .card {
  margin: 0 0 1rem 0;
  @include breakpoint(medium) {
    margin: 0.5rem 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

}
.specials-archive .arrow-button {
  border: 2px solid $light-gray;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}
.specials-archive .title {
  background-color: $white;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  position: relative;

  &:hover {
    background-color: $primary-color;
    color: $white;
    & .arrow-button {
      border: 2px solid $white;
    }
    & .arrow-button::before {
      border-right: 2px solid $white;
      border-top: 2px solid $white;
    }
  }
}

///////////////////////////////////////
///// SPECIALS SINGLE
///////////////////////////////////////

.special-single .icon {
  width: 25px;
  height: 25px;
  fill: $body-font-color;
  margin-right: 1rem;
}
.special-single .special-data {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.special-single .special-data-text {

}
.special-single .arrow-button {
  border: 2px solid $black;
  right: 1rem;
  top: 50%;
  transform: translate(0, -50%);
}
.special-single .arrow-button-title {
  color: $black;
  background-color: $secondary-color;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
  position: relative;

  &:hover {
    background-color: $primary-color;
    color: $white;
    & .arrow-button {
      border: 2px solid $white;
    }
    & .arrow-button::before {
      border-right: 2px solid $white;
      border-top: 2px solid $white;
    }
  }
}
.special-content {
  border-top: 1px solid $black;
  margin: 1rem 0;
  padding: 1rem 0;
}
.specials-section-single {
  padding: 1rem 0;
  @include breakpoint(medium) {
    padding: 2rem 0;
    background-color: $light-gray;
  }
}
.specials-section-single  .specials-header {
  text-align: center;
  font-size: 1em;
  @include breakpoint(medium) {
    text-align: left;
    font-size: 1.6em;
  }
}