// ---------------------------------------
//  General helper classes
// ---------------------------------------
body {
  @include opensans;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

a {
  transition: all .2s ease;
}

.text-upper {
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}
.subheading {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 1.6em;
}