/// Helper to get padding-bottom percentage for intrinsic ration based
/// on a width & height.
/// @link https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
/// @param {Length} $width
/// @param {Length} $height
@mixin intrinsic-ratio( $width, $height ) {
  padding-bottom: ( $height / $width ) * 100%;
}

// Helper mixin to assign the Open Sans font when webfonts are loaded.
@mixin opensans() {
  .wf-active &,
  .mce-content-body & {
    font-family: 'Open Sans', $body-font-family;
  }
}
@mixin raleway() {
  .wf-active &,
  .mce-content-body & {
    font-family: 'Raleway', $body-font-family;
  }
}

@mixin faded_grad_black( $height ) {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 80% );
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: $height;
}