@import 'app.css';

html, body {
    height: auto !important;
}

body#tinymce {
    margin: 12px !important;
    background: white !important;
    color: black !important;
}

/** Add any editor only styles here. **/
