<nav class="nav-main show-for-large">

    <a href="/"><img src="{{ TimberImage(theme.link ~ '/img/logo.png')|resize(170) }}" alt="logo"></a>

    <ul class="dropdown menu vertical" data-dropdown-menu>
        {% for item in menu.get_items %}
            <li class="{{ item.classes | join(' ') }} {{ item.get_children ? 'is-dropdown-submenu-parent' }}">
                <a href="{{ item.get_link }}">{{ item.title }}</a>

                {# Get child menu items. #}
                {% if item.get_children %}
                    <ul class="menu is-dropdown-submenu">
                        {% for child in item.get_children %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ child.get_link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>