
<div class="title-bar fixed hide-for-large" data-hide-for="large">
    <div>
        <a href="/"><img src="{{ TimberImage(theme.link ~ '/img/logo2.png')|resize(70) }}" alt="logo"></a>
    </div>

    <div>
        <button class="menu-icon" type="button" data-open="offCanvas"></button>
    </div>
</div>