<nav class="nav-off-canvas" role="navigation">
    <ul class="vertical menu">
        {% for item in menu.get_items %}
            <li class="{{ item.classes | join(' ') }}">
                <a href="{{ item.get_link }}">{{ item.title }}</a>

                {# Get child menu items. #}
                {% if item.get_children %}
                    <ul class="menu">
                        {% for child in item.get_children %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ child.get_link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
