{% extends "base.twig" %}

{% block hero %}

	{{ fn('get_new_royalslider', 1) }}

{% endblock %}

{% block content %}
	<section class="grid-container section-404">
		<h2>Error 404</h2>
		<p>Sorry, there is no content in this location of the website. Please start at the <a href="/">homepage</a>, or use the menu to the left.</p>
	</section>
{% endblock %}