{% extends "base.twig" %}

{% block content %}

    <section class="grid-container">
        <div class="text-primary subheading">{{ post.title }}</div>
        <h1>{{ post.sub_title }}</h1>
        <span>{{ post.content }}</span>

    </section>

    <section class="specials-archive">

        <div class="grid-container">

            <div class="specials-container grid-x">

                {% for post in posts %}

                    <div class="card-container medium-4 cell">
                        <a href="{{ post.link }}">
                            <div class="card">
                                <div class="image intrinsic">
                                    <img
                                            data-src="{{ TimberImage(post.image)|resize(400,300) }}"
                                            alt="{{ TimberImage(post.image).alt }}"
                                            class="lazyload blur-up">
                                </div>
                                <div class="title">{{ post.title }}
                                    <div class="arrow-button"></div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}

            </div>

        </div>
    </section>

{% endblock %}