{% extends "base.twig" %}

{% block content %}

    <section class="grid-container">
        <div class="text-primary subheading">{{ post.title }}</div>
        <h1 class="event-heading">{{ post.sub_title }}</h1>
        <span class="event-content">{{ post.content }}</span>

        <div class="grid-margin-x grid-x event-categories">

            {% include 'partials/event-category-menu.twig' %}

        </div>

    </section>

    <div class="events-list">

        <section class="grid-container events-container">

            {% include 'partials/events-list.twig' with {'events' : posts} %}

        </section>

    </div>

{% endblock %}
