{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    {# SVG Icons #}
    <div class="hide">{{ fn('file_get_contents', fn('get_template_directory') ~ '/img/svg/svg.svg') }}</div>

    {# OFF CANVAS MENU #}
    {% include 'navigation/nav-off-canvas.twig' %}
</div>

<div class="off-canvas-content" data-off-canvas-content>
    {# TOP BAR #}
    {% include 'navigation/nav-top-bar.twig' %}

    <div class="grid-container full">

        <div class="grid-x">

            <header class="header show-for-large">

                <div class="header-content">

                    {% block header %}
                        {% include 'navigation/nav-main.twig' %}
                    {% endblock %}

                    <div class="connect grid-container full">
                        <div class="phone">

                            <svg class="icon">
                                <use xlink:href="#phone"></use>
                            </svg>

                            <span><a aria-label="call Wamesit Lanes" href="tel:1{{ fn('format_phone', option.phone) }}">{{ option.phone }}</a></span>

                        </div>
                        <div class="grid-x search">
                            <div class="small-12 cell">{{ search_bar }}</div>
                        </div>
                        <div class="social">

                            {% for item in option.social_media_links %}
                                <div>
                                    <a href="{{ item.link }}" target="_blank">
                                        <span class="show-for-sr">{{ item.site }}</span>
                                        <svg class="icon">
                                            <use xlink:href="#{{ item.site }}"></use>
                                        </svg>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>

            </header>


            <div class="large-auto cell">

                <section class="hero">
                    {% block hero %}
                        {% if post.royalslider %}
                            {{ fn('get_new_royalslider', post.royalslider) }}
                        {% endif %}
                    {% endblock %}

                </section>

                <section role="main" class="content-wrapper">
                    <div class="wrapper {{ sidebar_class }}">
                        {% block content %}
                            Sorry, no content
                        {% endblock %}
                    </div>
                </section>

                {% block footer %}
                    <footer id="footer">
                        {% include 'footer.twig' %}
                    </footer>

                    {# LOAD FONTS #}
                    <script>
                        // Load fonts asynchronously.
                        WebFontConfig = {
                            google: {
                                families: ['Raleway:400,700', 'Open Sans:400,400i,700:latin']
                            }
                        };

                        (function (d) {
                            var wf = d.createElement('script'), s = d.scripts[0];
                            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
                            wf.async = true;
                            s.parentNode.insertBefore(wf, s);
                        })(document);
                    </script>

                    {{ function('wp_footer') }}
                {% endblock %}

            </div>

        </div>

    </div>


</div>

{# SCHEMA #}
{% include 'partials/schema.twig' %}
</body>
</html>