<div class="blog-comment {{ comment.comment_type }}" id="blog-comment-{{ comment.ID }}">
	<h5 class="comment-author">{{ comment.author.name }} says</h5>
	<div class="comment-content">{{ comment.comment_content|wpautop }}</div>
</div>