<div class="grid-container">

    <div class="grid-x footer-content grid-padding-x">
        <div class="cell large-2 logo-social">
            <img src="{{ TimberImage(theme.link ~ '/img/logo2.png')|resize(250) }}" alt="logo">

            <ul class="menu">
                {% for item in option.social_media_links %}
                    <li>
                        <a href="{{ item.link }}" target="_blank">
                            <span class="show-for-sr">{{ item.site }}</span>
                            <svg class="icon">
                                <use xlink:href="#{{ item.site }}"></use>
                            </svg>
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="cell large-2 address">

            {{ option.address.street }}<br>
            {{ option.address.city }} {{ option.address.state }} {{ option.address.zip }}
            <br><br>
            {{ option.phone }}
        </div>
        <div class="cell large-4 email">

            <ul class="menu vertical">
                {% for email in option.email_addresses %}
                    <li><strong>{{ email.email_label }}:</strong> <a href="mailto:{{ email.email_address }}">{{ email.email_address }}</a></li>
                {% endfor %}
            </ul>

        </div>
        <div class="cell large-4 hours">
            <ul class="menu vertical">
                {% for hours in option.hours %}
                    <li><strong>{{ hours.hours_label }}:</strong> {{ hours.hours }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>


</div>


<div class="grid-container">
    <div class="grid-x grid-margin-x lower-footer">
        <div class="cell medium-6 text-center medium-text-left">
            Copyright {{ "now"|date('Y') }} {{ site.name }}
        </div>

        <div class="cell medium-6 text-center medium-text-right">
            Designed & Developed by <a href="https://www.vectorandink.com">Vector & Ink</a>
        </div>
    </div>
</div>
