{% extends "base.twig" %}

{% block hero %}
    {{ parent() }}

    <div class="hero-content-wrapper">
        <div class="text-center">{{ site.name }}</div>
        <div class="text-center">eat <span>&bull;</span> bowl <span>&bull;</span> play <span>&bull;</span> patio</div>
        <div class="text-center">&nbsp;&nbsp;{{ site.description }}&nbsp;&nbsp;</div>
    </div>

{% endblock %}

{% block content %}

    <section class="grid-container">
        <div class="text-primary subheading">{{ site.name }}</div>
        <h1>{{ post.title }}</h1>

        <div class="quick-links">
            <div>
                <a href="/eat/">
                    <svg class="icon">
                        <use xlink:href="#burger2"></use>
                    </svg>
                    <span class="quick-links-text">Eat</span>
                    <div class="arrow-button"></div>
                </a>
            </div>
            <div>
                <a href="/attractions/bowling/">
                    <svg class="icon">
                        <use xlink:href="#bowling"></use>
                    </svg>
                    <span class="quick-links-text">Bowl</span>
                    <div class="arrow-button"></div>
                </a>
            </div>
            <div>
                <a href="/attractions/golf/">
                    <svg class="icon">
                        <use xlink:href="#golf"></use>
                    </svg>
                    <span class="quick-links-text">Golf</span>
                    <div class="arrow-button"></div>
                </a>
            </div>
            <div>
                <a href="/specials/">
                    <svg class="icon">
                        <use xlink:href="#patio"></use>
                    </svg>
                    <span class="quick-links-text">Specials</span>
                    <div class="arrow-button"></div>
                </a>
            </div>
        </div>

        {{ post.content }}

    </section>

    <section class="specials-section">

        <div class="specials-header show-for-small-only text-upper">Our Specials</div>

        <div class="grid-container">

            {% include 'partials/specials-slider.twig' %}

        </div>
    </section>

    {% include 'partials/contact-us.twig' %}

    {% include 'partials/join-the-pack.twig' %}

{% endblock %}
