{% extends "base.twig" %}

{% block content %}
    <section class="grid-container">
        <div class="text-primary subheading">{{ post.title }}</div>
        <h1>{{ post.sub_title }}</h1>
        <span>{{ post.content }}</span>

    </section>

    <section class="testimonials">
        <div class="grid-container">
            <div class="quotes text-center">

                {% for quote in post.get_field('testimonials') %}

                    <div>
                        <div class="quote-text">
                            {{ quote.quote }}
                        </div>
                        <span class="text-primary">- {{ quote.author }}</span>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}