{% extends "base.twig" %}

{% block content %}
    <section class="grid-container">
        <div class="text-primary subheading">{{ post.title }}</div>
        <h1>{{ post.sub_title }}</h1>
        <span>{{ post.content }}</span>

    </section>

    <section class="job-openings">

        <div class="grid-container">

            {% if post.get_field('openings') | length == 0 %}

                <div class="text-primary subheading">Sorry, there are no openings at this time.</div>

            {% else %}

                <div class="text-primary subheading">Current Job Openings:</div>

                {% for opening in post.get_field('openings') %}

                    <div class="job-opening">
                        <div class="opening-title">{{ opening.title }}</div>
                        {{ opening.description }}
                        <div>
                            <a class="apply-link" href="/application/">Apply Now &raquo;</a>
                        </div>

                    </div>


                {% endfor %}

            {% endif %}

        </div>

    </section>
{% endblock %}
