{% extends "base.twig" %}

{% block content %}
	<section class="grid-container">
		<div class="text-primary subheading">{{ post.title }}</div>
		<h1>{{ post.sub_title }}</h1>
		<span>{{ post.content }}</span>

	</section>
{% endblock %}
