{% extends "base.twig" %}

{% block content %}

    <section class="grid-container">
        <div class="text-primary subheading">{{ post.title }}</div>
        <h1>{{ post.sub_title }}</h1>
        {{ post.content }}
    </section>

    <section class="attractions">

        <div class="grid-container">

            <div class="attractions-row">

                <a href="{{ attraction_pages[0].link }}">
                    {% include 'partials/attraction.twig' with { 'index' : 0, width: 740 } %}
                </a>
                <a href="{{ attraction_pages[1].link }}">
                    {% include 'partials/attraction.twig' with { 'index' : 1, width: 412 } %}
                </a>
                <a href="{{ attraction_pages[2].link }}">
                    {% include 'partials/attraction.twig' with { 'index' : 2, width: 412 } %}
                </a>

            </div>
            <div class="attractions-row">

                <a href="{{ attraction_pages[3].link }}">
                    {% include 'partials/attraction.twig' with { 'index' : 3, width: 412 } %}
                </a>
                <a href="{{ attraction_pages[4].link }}">
                    {% include 'partials/attraction.twig' with { 'index' : 4, width: 412 } %}
                </a>
                <a href="{{ attraction_pages[5].link }}">
                    {% include 'partials/attraction.twig' with { 'index' : 5, width: 740 } %}
                </a>

            </div>
        </div>

    </section>

{% endblock %}
