{% extends "base.twig" %}

{% block content %}

    <section class="grid-container special-single">

        <h1>{{ post.title }}</h1>

        <div class="grid-x grid-margin-x">

            <div class="cell medium-8">

                {% set datetime = post.get_field('start_and_end_time') %}

                {% if datetime.enter_startend_date_time == 'yes' %}

                    <div class="special-data">
                        <svg class="icon">
                            <use xlink:href="#clock"></use>
                        </svg>
                        <div>{{ datetime.date_time_start }} to {{ datetime.date_time_end }}</div>
                    </div>

                {% elseif datetime.enter_startend_date_time == 'allday' %}

                    <div class="special-data">
                        <svg class="icon">
                            <use xlink:href="#clock"></use>
                        </svg>
                        <div>{{ datetime.all_day_date }}</div>
                    </div>

                {% endif %}

                {% if post.price %}
                    <div class="special-data">
                        <svg class="icon">
                            <use xlink:href="#dollar"></use>
                        </svg>
                        <div>{{ post.price }}</div>
                    </div>
                {% endif %}


            </div>

            <div class="cell medium-auto">

                {% if post.add_link_button == 'yes' %}

                    <div>
                        <a href="{{ post.link_button.url }}" target="{{ post.link_button.target }}">
                            <div class="arrow-button-title">{{ post.link_button.title }}
                                <div class="arrow-button"></div>
                            </div>
                        </a>
                    </div>

                {% endif %}
            </div>
        </div>

        <div class="special-content">
            {{ post.special_content }}
        </div>

    </section>

    <section class="specials-section-single">

        <div class="grid-container">

            <div class="text-upper specials-header">Additional Specials</div>

            {% include 'partials/specials-slider.twig' %}

        </div>
    </section>

    {% include 'partials/contact-us.twig' %}

    {% include 'partials/join-the-pack.twig' %}

{% endblock %}
