{% extends "base.twig" %}

{% block content %}

    <section class="grid-container special-single">

        <h1>{{ post.title }}</h1>

        <div class="grid-x grid-margin-x">

            <div class="cell medium-7">

                <div class="special-data">
                    <svg class="icon">
                        <use xlink:href="#clock"></use>
                    </svg>
                    <div>{{ post.start_date('F j, Y') }} {{ post.time_span }}</div>
                </div>

                {% if post.price %}
                    <div class="special-data">
                        <svg class="icon">
                            <use xlink:href="#dollar"></use>
                        </svg>
                        <div>{{ post.price }}</div>
                    </div>
                {% endif %}
            </div>

            <div class="cell medium-auto">

                {% if post.add_link_button == 'yes' %}

                    <div class="grid-x grid-margin-x grid-margin-y">

                        <div class="cell large-6">
                            <a href="{{ post.link_button.url }}" target="{{ post.link_button.target }}">
                                <div class="arrow-button-title">{{ post.link_button.title }}
                                    <div class="arrow-button"></div>
                                </div>
                            </a>
                        </div>

                        <div class="cell large-6">
                            <a href="/events">
                                <div class="arrow-button-title event">View All Events</div>
                            </a>
                        </div>

                    </div>
                {% else %}
                    <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell large-offset-6 large-6">
                            <a href="/events">
                                <div class="arrow-button-title event">View All Events</div>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="special-content">
            {{ post.content }}

            {% if post.recurs %}
                This event repeats:<br>
                <ul class="repeating-events">
                    {% for event_repeat in event_series %}
                        <li>{{ event_repeat.start_date('F j, Y') }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    </section>

    <section class="upcoming-events-section">

        <div class="grid-container">

            <div class="text-upper specials-header">Upcoming Events</div>

            <div class="events-list">

                <section class="grid-container events-container">

                    {% include 'partials/events-list.twig' with {'events' : upcoming_events} %}

                </section>

            </div>

        </div>
    </section>

    {% include 'partials/contact-us.twig' %}

    {% include 'partials/join-the-pack.twig' %}

{% endblock %}
