{% extends "base.twig" %}

{% block content %}

    <section class="grid-container">

        <div class="text-primary subheading">{{ post.title }}</div>
        <h1 class="event-heading">{{ term_name }}</h1>
        {% if term_desc %}
            <p><span class="event-content">{{ term_desc }}</span></p>
        {% else %}
            <span class="event-content"></span>
        {% endif %}

        <div class="grid-margin-x grid-x event-categories" data-term="{{ term_slug }}">

            {% include 'partials/event-category-menu.twig' %}

        </div>

    </section>

    <div class="events-list">

        <section class="grid-container events-container">

            {% include 'partials/events-list.twig' with { 'events' : posts } %}

        </section>

    </div>

{% endblock %}
