{% extends "base.twig" %}

{% block content %}
    <section class="grid-container">
        <div class="text-primary subheading">Dining</div>
        <h1>{{ post.sub_title }}</h1>
        <span>{{ post.content }}</span>
        {% include 'menu/menu-nav.twig' %}
    </section>

    <section class="menu-container">
        <div class="grid-container">

            {% for item in post.get_field('menu_layout') %}

                {# SINGLE GROUP #}

                {% if item.acf_fc_layout == 'single' %}
                    {#1 Column#}
                    {% if item.columns == 1 %}
                        {% set menu_group = TimberPost(item.menu_group) %}
                        <div class="menu-group">
                            {% include 'menu/menu-group.twig' %}
                        </div>

                        {#2 Columns#}
                        {#We split the list of menu items in half to make 2 columns.#}
                    {% elseif item.columns == 2 %}
                        {% set menu_group = TimberPost(item.menu_group) %}
                        {% include 'menu/menu-group-single-2-col.twig' %}
                    {% endif %}

                    {# DOUBLE GROUP #}

                {% elseif item.acf_fc_layout == 'double' %}
                    <div class="grid-x menu-group">
                        {#Left Column#}
                        {% set menu_group = TimberPost(item.menu_group) %}
                        <div class="medium-6 cell">
                            {% include 'menu/menu-group.twig' %}
                        </div>

                        {#Right Column#}
                        {% set menu_group = TimberPost(item.menu_group_2) %}
                        <div class="medium-6 cell">
                            {% include 'menu/menu-group.twig' %}
                        </div>
                    </div>

                    {# 3 PHOTO CIRCLES #}
                {% elseif item.acf_fc_layout == 'triple_circle_images' %}

                    {% include 'partials/triple-circle-images.twig' with {
                    'image1' : item.image_1,
                    'image2' : item.image_2,
                    'image3' : item.image_3
                    } %}

                    {# CALLOUT #}
                {% elseif item.acf_fc_layout == 'callout' %}

                    <div class="dining-menu">
                        <div class="nav-card callouts">
                            {% set callouts = item.text_content %}
                            {% for callout in callouts %}
                                <h3>{{ callout.title }}</h3>
                                <span>{{ callout.text }}</span>
                            {% endfor %}
                        </div>
                    </div>


                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}