<div class="attraction-wrapper">
    <div>
        {% set img = ( width == 740 ) ? 'placeholder-attractions-wide.jpg' : 'placeholder-attractions-narrow.jpg' %}
        <img class="lazyload blur-up"
             src="{{ theme.link ~ '/img/' ~ img }}"
             data-src="{{ TimberImage(attraction_pages[index].thumbnail)|resize(width,424) }}"
             alt="{{ attraction_pages[index].title }}">
    </div>
    <div class="title">{{ attraction_pages[index].title }}
        <div class="arrow-button"></div>
    </div>
</div>