<section class="contact-us grid-container full">
    <div class="grid-x">
        <div class="cell large-5 form small-order-2 large-order-1">
            <div class="form-header">Contact Us</div>

            {{ fn('gravity_form', 1, false, false, false, null, true) }}

        </div>
        <div class="cell large-7 contact-us-image small-order-1 large-order-2"
             style="background-image:url({{ TimberImage(theme.link ~ '/img/contact-us-bg.jpg')|resize(1200) }});">

        </div>
    </div>
</section>