{% if fn('current_user_can', 'edit_posts') %}
    <a class="edit-post" href="{{ fn('get_edit_post_link', post_id) }}">
        <svg class="icon">
            <use xlink:href="#pencil-square"></use>
        </svg>
    </a>
{% endif %}