<a href="/events/" class="cell large-3 category active" data-category="all">
    <span class="quick-links-text">All</span>
    <div class="check-box">&times;</div>
</a>

{% for category in event_categories %}

    <a href="{{ category.link }}" class="cell large-3 category" data-category="{{ category.slug }}">
        <svg class="icon">
            <use xlink:href="#events-{{ category.slug }}"></use>
        </svg>
        <span>{{ category }}</span>
        <div class="check-box"></div>
    </a>


{% endfor %}