{% for event in posts %}

    {% set event = TimberPost(event) %}
    {#{% set event_preview = PostPreview(event) %}#}

    <div class="event-item">
        <div>
            <div>{{ fn('eo_get_the_start', 'F', event.id, event.occurrence_id) }}</div>
            <div class="text-primary">{{ fn('eo_get_the_start', 'j', event.id, event.occurrence_id) }}</div>
        </div>

        <div>
            <div class="event-title text-upper">{{ event.title }}</div>
            <div class="times">

                <svg class="icon clock">
                    <use xlink:href="#clock"></use>
                </svg>
                <div>
                    {# Get occurrence start and end date. #}
                    {% set occurrence_start = fn('eo_get_the_start', 'U', event.id, event.occurrence_id) %}
                    {% set occurrence_end = fn('eo_get_the_end', 'U', event.id, event.occurrence_id) %}
                    {{ occurrence_start|date('g:i a') }} -
                    {{ occurrence_end|date('g:i a') }}
                </div>
            </div>
            <div class="excerpt">
                {{ event.preview.length(10) }}
            </div>
        </div>
    </div>

{% else %}

    <p>Apologies, but no results were found for the requested event category.</p>

{% endfor %}

{% include 'partials/pagination.twig' %}