<div class="text-center">
    <div class="heading-group">
        <h1 class="heading-group-header">{{ heading }}</h1>
        {% if subheading %}<h2 class="heading-group-header">{{ subheading }}</h2>{% endif %}
    </div>
</div>
