<section class="grid-container full join">

    <div class="join-header">Join The Pack</div>
    <div class="join-form">

        {{ fn('gravity_form', 2, false, false, false, null, true) }}

    </div>

</section>