<div class="specials">

    {% for special in specials %}

        <div data-link="{{ special.link }}" class="card-container">

                <div class="card">
                    <div class="image intrinsic">
                        <img
                                data-src="{{ TimberImage(special.image)|resize(400,300) }}"
                                alt="{{ TimberImage(special.image).alt }}"
                                class="lazyload blur-up">
                    </div>
                    <div class="title">
                        <a href="{{ special.link }}">{{ special.title }}</a>
                        <div class="arrow-button"></div>
                    </div>
                </div>
        </div>

    {% endfor %}

</div>