<div class="triple-circle-images">
    <div class="image-cropper container1">
        <img src="{{ Image(image1).src|resize(250) }}" alt="Food Photo">
    </div>
    <div class="image-cropper container2">
        <img src="{{ Image(image2).src|resize(250) }}" alt="Food Photo">
    </div>
    <div class="image-cropper container3">
        <img src="{{ Image(image3).src|resize(250) }}" alt="Food Photo">
    </div>
</div>