<div class="grid-x dining-menu">
    <div class="medium-6 cell left-header-button">

        {# Card #}
        <a href="{{ site.link }}/eat/">
            <div class="nav-card {{ post.post_name == 'eat' ? 'current' }} grid-x">
                <div class="small-2 cell icon-container">
                    <svg class="icon">
                        <use xlink:href="#burger2"></use>
                    </svg>
                </div>

                <div class="small-10 cell">
                    <div class="nav-card-inner">
                        <div class="nav-card-head">Eat</div>

                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="medium-6 cell right-header-button">

        {# Card #}
        <a href="{{ site.link }}/drink/">
            <div class="nav-card {{ post.post_name == 'drink' ? 'current' }}  grid-x">
                <div class="small-2 cell icon-container">
                    <svg class="icon">
                        <use xlink:href="#drink"></use>
                    </svg>
                </div>

                <div class="small-10 cell">
                    <div class="nav-card-inner">
                        <div class="nav-card-head">Drink</div>

                    </div>
                </div>
            </div>
        </a>
    </div>
</div>