<h2 class="menu-group-heading" id="{{ menu_group ? menu_group.slug|lower }}">
    {{ menu_group.title }}
    {% include 'partials/edit-post-link.twig' with {'post_id' : menu_group.id } %}
</h2>

<div class="menu-group-content">
    {{ menu_group.content }}
</div>