<div class="menu-item {{ menu_item.is_featured ? 'featured' }}">
    <h3 class="menu-item-name">{{ menu_item.name }}</h3>
    <div class="grid-x">
        <div class="small-10 cell menu-item-description">{{ menu_item.description }}</div>
        <div class="small-2 cell menu-item-price">{{ menu_item.price }}</div>
    </div>

</div>