<div class="grid-x menu-group">
    <div class="small-12 cell">
        {% include 'menu/menu-group-heading.twig' %}

        {% set length_left = ( menu_group.get_field('menu_repeater')|length / 2 )|round(0, 'ceil') %}
        {% set length_right = ( menu_group.get_field('menu_repeater')|length / 2 )|round(0, 'floor') %}

        <div class="menu-items-wrap">
            <div class="grid-x">
                <div class="medium-6 cell">
                    <div class="menu-section">
                        {% for menu_item in menu_group.get_field('menu_repeater')|slice( 0, length_left ) %}
                            {% include 'menu/menu-item.twig' %}
                        {% endfor %}
                    </div>
                </div>

                <div class="medium-6 cell">
                    <div class="menu-section">
                        {% for menu_item in menu_group.get_field('menu_repeater')|slice( length_left, length_right ) %}
                            {% include 'menu/menu-item.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>