{% include 'menu/menu-group-heading.twig' %}

<div class="menu-items-wrap">
    {% for menu_item in menu_group.get_field('menu_repeater') %}
        {% include 'menu/menu-item.twig' %}
    {% endfor %}
</div>